@import '../../variables.scss';

.container {
    display: flex;
}

.info {
    width: 50%;
    margin: 70px 0 0 8.3%;

    &__title {
        font-weight: 400;
        font-size: 56px;
        line-height: 58px;
        color: $greyColor;

        &--bold {
            font-weight: 700;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: $blackColor;
        margin-top: 42px;
        width: 85.6%;
        height: 285px;
    }

    &__more {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: $greenColor;
        margin-top: 24px;
        display: flex;
        align-items: center;
    }
}

.arrow {
    width: 7%;
    margin-left: 3%;
}

.img {
    width: 50%;
    height: 455px;
    margin-top: 34px;
}

@media (max-width: 376px) {
    .info {
        margin: 40px 4.2% 0 4.2%;
        width: 100%;

        &__title {
            font-size: 28px;
            line-height: 28px;
        }

        &__text {
            margin-top: 24px;
            font-size: 14px;
            line-height: 22px;
            height: auto;
            width: 100%;
        }
    }
    
    .arrow {
        display: none;
    }

    .img {
        display: none;
    }
}

@media (min-width: 376px) and (max-width: 1200px) {
    .img {
        display: none;
    }

    .info {
        width: 90%;

        &__text {
            height: auto;
        }
    }
}

