body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.01em;
}
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-slide>div {
  padding: 0 5px;
}

.slick-list {
  margin: 0 -5px;
}

.slick-arrow  {
  width: 49px;
  height: 13px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

.slick-next {
  right: 2.5%;
  background: url('./img/arrow.png') !important;
  background-size: cover !important;
  z-index: 5;
}

.slick-prev {
  left: 2.5%;
  background: url('./img/arrow-back.png') !important;
  background-size: cover !important;
  z-index: 5;
}

.slick-next::before {
  display: none;
}

.slick-prev::before {
  display: none;
}
