$font: 'Montserrat';
$greyColor: #272727;
$lightGreyColor: #545454;
$darkGreyColor: #202020;
$bcgFooter: #505050;
$greenColor: #6BC067;
$blackColor: #000000;
$whiteColor: #FFFFFF;
$milkyColor: #FBFBFB;