@import '../../../variables.scss';

.container {
    width: 159px;
    height: 152px;
    background: $whiteColor;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.11);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-right: 24px;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: $blackColor;
    margin-top: 30px;
}

@media (max-width: 376px) {
    .container {
        margin-top: 24px;
        margin-right: 0;
    }
}

@media (min-width: 376px) and (max-width: 1340px) {
    .container {
        margin: 10px 5px;
    }
}